
#navbar-bottom
{
    margin-top: 0px;
    min-height: 28px;
    height: 28px;
    padding: 1px 5px 1px 5px;
}


#nav-bottom-elem-left
{
    margin-top: 3px;
    font-size: smaller;
    text-align: center;
    color: #999;
}
