/* this is my custom CSS */

#project-popover
{
    margin-bottom: 20px;
    text-align: center;
}

#task-popover
{
    margin-bottom: 20px;
    text-align: center;
}

#file-popover
{
    margin-bottom: 20px;
    text-align: center;
}

#user-popover
{
    text-align: center;
}

.accordion-height
{
    height: 400px;
}

#project-popover-buttons
{
    width: 200px;
}

#task-popover-buttons
{
    width: 200px;
}
#file-popover-buttons
{
    width: 200px;
}
#user-popover-buttons
{
    width: 200px;
}

#chat-panel-heading
{
    text-align: center;
}

#chat-ul li
{
    height: 50px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

#chat-ul li:hover
{
    font-weight: 600;
    color: #555555;
    background-color: #f5f5f5;
}

/*#new-project-modal-form .modal-dialog*/
/*{*/
    /*width: 800px;*/
/*}*/

#new-project-modal-form .modal-dialog, #new-task-modal-form .modal-dialog, #new-file-modal-form .modal-dialog, #new-user-modal-form .modal-dialog,
#info-project-modal-form .modal-dialog, #info-task-modal-form .modal-dialog, #info-file-modal-form .modal-dialog, #info-user-modal-form .modal-dialog,
#user-profile-modal-form .modal-dialog
{
    width: 800px;
}

#new-project-modal-body, #new-task-modal-body, #new-file-modal-body, #new-user-modal-body,
#info-project-modal-body, #info-task-modal-body, #info-file-modal-body, #info-user-modal-body,
#user-profile-modal-body
{
    /*min-height: 400px;*/
    height: 450px;
    /*overflow: auto;*/
}

#info-project-modal-body, #info-task-modal-body, #info-file-modal-body, #info-user-modal-body
{
    /*outline: solid;*/
    overflow: auto;
}

/*#project*/
/*{*/
    /*overflow: auto;*/
/*}*/

.custom-notification-panel-footer-style, .custom-history-panel-footer-style
{
    height: 15px;
    font-size: smaller;
    padding: 0;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
}

.custom-notification-panel-body-style, .custom-history-panel-body-style
{
    padding: 5px;
    text-align: center;
    font-family: FontAwesome;
    font-style: italic;
}

.fa-circle-o
{
    position: absolute;
    top: 18px;
    left: 10px;
    color: #428bca;
}


