/* this is my custom CSS */

#table-width
{
    position: relative;
}

#table-projects-id tr, #table-tasks-id tr , #table-files-id tr, #table-users-id tr
{
    height: 40px;
    cursor: context-menu;
}

#table-heading-panel
{
    text-align: center;
}

#no-of-rec-project, #no-of-rec-task, #no-of-rec-file, #no-of-rec-user
{
    margin-left: -22px;
}

#no-of-rec-shown, #total-no-of-records
{
    color: sienna;
}

#well-left-project, #well-left-task, #well-left-file, #well-left-user
{
    position: absolute;
    top: 485px;
}

#well-right-project, #well-right-task, #well-right-file, #well-right-user
{
    position: absolute;
    top: 468px;
    right: 5px;
}

/*#table-projects-id thead tr th*/
/*{*/
/*vertical-align: middle;*/
/*}*/

/*#table-projects-id tbody tr td*/
/*{*/
/*vertical-align: middle;*/
/*}*/


#contextMenu
{
    position: absolute;
    display:none;
}

